{% extends 'base.twig' %}
{% block title %}Create Order{% endblock %}
{% block content %}
    <a href="{{ asset_url('orders') }}">Orders List</a>
    <h1>Create Order</h1>
    <form action="{{ asset_url('add_order') }}" method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <input type="text" class="form-control" name="address">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="tel" class="form-control" name="phone">
        </div>
        <div class="mb-3">
            <select class="form-select" name="product">
                {% for product in products %}
                    <option value="{{ product.id }}">
                        {{ product.title }}, {{ product.price }} rub.
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}